<% include ./header %>
<section class="col-6">
    <form action="/block" method="post">
        <div class="form-group">
            <label for="cpf"></label>
            <input type="text" class="form-control" id="cpf" name="CPF" aria-describedby="emailHelp" placeholder="Ex: 000.000.000-00"
                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" minlength="14" maxlength="14" autocomplete="off" required title="Adicione seu CPF no formato correto: 123.456.789-10">
            <small id="emailHelp" class="form-text text-muted">Please, put your CPF number.</small>
            <br>
            <!-- <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="block" name="Blacklist">
                <label class="custom-control-label" for="block"> Bloquear este Cpf</label>
            </div> -->
        </div>
        <input type="submit" class="btn btn-primary" value="Verificar" />
    </form>
    <br>
    <a href="/"> Voltar </a>
</section>
<% include ./footer %>