<% include ./header %>
<h1 class="col-12">Consult your CPF free...</h1>
<div class="col-12" style="display:flex;">
    <div class="form-group col-6">
        <form>
            <label for="cpf"></label>
            <input type="text" class="form-control" id="cpf" name="cpf" aria-describedby="emailHelp" placeholder="E.g: 000.000.000-00"
                pattern="\d{3}\.\d{3}\.\d{3}-\d{2}" minlength="14" maxlength="14" autocomplete="off"
                required title="Right format: 123.456.789-10">
            <small id="emailHelp" class="form-text text-muted">Please, put your CPF number.</small>
            <br>
            <div>
                <a href="javascript:verifyCpf();" class="btn btn-primary"> Verify </a>
            </div>
        </form>
    </div>
    <div class="col-6" style=" margin-top: 22px; ">
        <div id="status_card" class="card" style="width: 18rem;">
            <div class="card-body">
                <p>CPF: <span class="cpf_result"></span></p>
                <p>Status: <span class="cpf_status"></span> </p>
                <p></p>
                <a href="javascript:freeCpf()" class="btn btn-success">Free It!</a>
                <a href="javascript:blockCpf()" class="btn btn-danger">Block It!</a>
            </div>
        </div>
    </div>
</div>
<div class="alert alert-danger col-8 hidden" role="alert"></div>


<% include ./footer %>