<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> MaxMilhas Challenge</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/assets/css/main_css.css">
</head>
<body>
    <nav class="nav">
        <a class="nav-link active" href="/">Home</a>
        <a class="nav-link" href="/find">Verify</a>
        <a class="nav-link" href="/all-cpfs">All CPF</a>
    </nav>
    <main>
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="header-container">
                        <img src="/assets/images/max-logo.png" class="rounded mx-auto d-block max-img" alt="Logo Max Milhas">
                    </div>