<% include ./header %>
<section class="col-6">
    <h1> Status </h1>
    <div class="card">
        <div class="card-body">
            <ul>
                <p> Server time execution: <span class="time"></span></p>
                <p> Total of consults: <span class="consults"></span></p>
                <p> Total of blacklist: <span class="blacklist"></span></p>
            </ul>
        </div>
    </div>
</section>
<% include ./footer %>